:root{
  --mainColor: #8d1007;
  --secondaryColor: #fff;

  --borderColor: #ffffff;


    --mainText: rgb(255, 255, 255);
    --secondaryText: #ffffff;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #f0ead6;

    --buttonColor: black;
}

* {box-sizing: border-box;}


.swiper-container {
  width: fit-content;
  height: fit-content;
}

body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 420px) {
  .swiper-container {max-height: 800px};
  .swiper-wrapper {max-height: 899px;};
} 

/* On smaller screens, decrease text size */
@media only screen and (min-width: 600px) {
  #footer-bottom {margin-left: 120px;}
}




.swiper-button-next:hover{
  background-color: rgb(255, 255, 255);
  height: 80px;
  opacity: 90%;
}

.swiper-button-prev:hover{
  background-color: rgb(255, 255, 255);
  height: 80px;
  opacity: 90%;
}

.swiper-button-prev, .swiper-button-next {
  transition-duration: 0.4s;
}




* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #8d1007;
}

.carousel-cell {
  width: 70%;
  height: 500px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 1200px;
  }
}

@media screen and ( min-width: 960px ) {

  .carousel-cell {
    height: 1750px;
  }

  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}