:root{
  --mainColor: #8d1007;
  --secondaryColor: #fff;

  --borderColor: #ffffff;


    --mainText: rgb(255, 255, 255);
    --secondaryText: #ffffff;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #f0ead6;

    --buttonColor: black;
}

* {box-sizing: border-box;}


.swiper-container {
  width: fit-content;
  height: fit-content;
}

body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 420px) {
  .swiper-container {max-height: 800px};
  .swiper-wrapper {max-height: 899px;};
} 

/* On smaller screens, decrease text size */
@media only screen and (min-width: 600px) {
  #footer-bottom {margin-left: 120px;}
}




.swiper-button-next:hover{
  background-color: rgb(255, 255, 255);
  height: 80px;
  opacity: 90%;
}

.swiper-button-prev:hover{
  background-color: rgb(255, 255, 255);
  height: 80px;
  opacity: 90%;
}

.swiper-button-prev, .swiper-button-next {
  transition-duration: 0.4s;
}







  